.content-title_search {
  max-width: 608px;
  margin-left: auto;
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 32px;
  font-size: 60px;
  line-height: 64px;
}

@media screen and (max-width: 768px) {
  .content-title_search {
    max-width: 448px;
    margin-top: 40px;
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 40px;
  }
}

@media screen and (max-width: 425px) {
  .content-title_search {
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 56px;
  }
}