@import url(./__empty/results__empty.css);
@import url(./__load/results__load.css);
@import url(./__list/results__list.css);
@import url(./__news-cards/results__news-cards.css);
@import url(./__not-found-image/results__not-found-image.css);

.results {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #F5F6F7;
    color: #1A1B22;
}

@media screen and (max-width: 768px) {
    .results {
        padding-top: 40px;
        padding-bottom: 40px;    
    }    
}