.content-title_card {
    margin: 0;
    font-size: 26px;
    line-height: 30px;
}

@media screen and (max-width: 768px) {
    .content-title_card {
        font-size: 22px;
        line-height: 24px;  
    }  
  }