@import url(./_more/button_more.css);
@import url(./_open-link/button_open-link.css);
@import url(./_search/button_search.css);

.button {
  height: 64px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .button {
    height: 56px;
  }  
}