.card__description {
  width: 88%;
  height: 260px;
  margin-left: auto;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .card__description {
    margin-top: 16px;
    margin-bottom: 16px;
  }  
}