.card__description {
  width: 88%;
  min-height: 260px;
  margin-left: auto;
  margin-top: 24px;
  margin-right: auto;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .card__description {
    margin-top: 16px;
    margin-bottom: 16px;
  }  
}