.content-title_details {
    margin-top: 0;
    margin-bottom: 48px;
    font-size: 26px;
    line-height: 30px;
}

@media screen and (max-width: 425px) {
    .content-title_details {
        font-size: 22px;
        margin-bottom: 16px;
    }
}