@import url(./_commits/content-subtitle_commits.css);
@import url(./_results/content-subtitle_results.css);
@import url(./_search/content-subtitle_search.css);

.content-subtitle {
  margin-right: auto;
  margin-top: 0;
  margin-left: auto;
}