.button_open-link {
  width: 288px;
  margin-left: auto;
  margin-top: 48px;
  margin-right: auto;
  margin-bottom: 0;
  background-color: white;
  border: 1px solid black;
  border-radius: 80px;
  display: none;
}

.button_open-link a {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 425px) {
  .button_open-link {
    display: block;
  }
}