.results__news-cards {
    width: 85%;
    margin-left: auto;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 64px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 16px;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .results__news-cards {
        width: 90%;
        margin-bottom: 22px;
        grid-template-columns: repeat(auto-fill, 224px);
        grid-gap: 8px;
    } 
}