@import url(./_day/diagram__row-name_day_mon.css);
@import url(./_day/diagram__row-name_day_tue.css);
@import url(./_day/diagram__row-name_day_wed.css);
@import url(./_day/diagram__row-name_day_thu.css);
@import url(./_day/diagram__row-name_day_fri.css);
@import url(./_day/diagram__row-name_day_sat.css);
@import url(./_day/diagram__row-name_day_sun.css);

.diagram__row-name {
    width: 104px;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}

@media screen and (max-width: 425px) {
    .diagram__row-name {
        width: 80px;
    }
}