.menu__link {
    margin-right: 40px;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #1A1B22;
}

.menu__link:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .menu__link {
        margin-right: 25px;
    }
}

@media screen and (max-width: 526px) {
    .menu__link {
        margin-right: 0;
        margin-bottom: 40px;
        display: block;
    }

    .menu__link:last-of-type {
        margin-bottom: 0;
    }
}