.diagram__column-name {
  min-width: 104px;
  margin-top: 0;
  margin-bottom: 24px;
}

@media screen and (max-width: 425px) {
  .diagram__column-name {
      min-width: 80px;
      margin-bottom: 8px;
  }
}