.button_search {
  width: 168px;
  background-color: #2F71E5;
  border: none;
  border-radius: 100px;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

.button_search:hover {
  background-color: #347EFF;
}

.button_search:active {
  background-color: #2A65CC;
}

@media screen and (max-width: 425px) {
  .button_search {
    width: 100%;
    position: relative;
  }
}