@import url(./__paragraph/for-customers__paragraph.css);
@import url(./__text/for-customers__text.css);

.for-customers {
    width: 100%;
    padding-bottom: 80px;
    color: #1A1B22;
}

@media screen and (max-width: 768px) {
    .for-customers {
        padding-bottom: 40px;
    }
}