@import url(./__link/menu__link.css);

.menu {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 650px) {
    .menu {
        order: 1;
        width: 400px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 526px) {
    .menu {
        width: 350px;
        
    }
}

@media screen and (max-width: 425px) {
    .menu {
        width: 200px;
    }
}