@import url(./__page-links/header__page-links.css);
@import url(./__page/header__page.css);

.header {
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid  rgba(196, 196, 196, 0.1);
}