.card__source {
    width: 88%;
    margin-left: auto;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 24px;
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
}